<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li>
                <a href="/test">/test</a>
            </li>
            <li>
                <a href="/test_login">/test_login</a>
            </li>
            <li>
                <a href="/test_check">/test_check</a>
            </li>
        </ul>
    </nav>
</header>
<main>
  {%block main%}

  {%endblock%}
</main>

</body>
</html>