<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li>
                <a href="/home">Главная</a>
            </li>
            <li>
                <a href="/section_a">секция а </a>
            </li>
            <li>
                <a href="/section_b">секция б </a>
            </li>
            <li>
                <a href="/section_c">секция в </a>
            </li>
            <li>
                <a href="/add_positions">Добавить должности</a>
            </li>
            <li>
                <a href="/add_employee">Добавить сотрудников</a>
            </li>
            <li>
                <a href="/get_positions">Показать должности</a>
            </li>
            <li>
                <a href="/get_employe">Показать сотрудников</a>
            </li>
            <li>
                <a href="/view_coefficients">Мотивационный лист</a>
            </li>
        </ul>
    </nav>
  <!-- напиши меня -->
</header>
<main>
  {%block main%}

  {%endblock%}
</main>
<footer>
  <!-- напиши меня -->
</footer>
</body>
</html>