<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form name = “company_form” method="post" action="/company">
        <p>Имя</p>
        <input name="name" type="text" value="Стандартное имя">
        <p>Логин</p>
        <input name="login" type="text" required>
        <p>Пароль</p>
        <input name="password" type="text" required>

        <button name="submit" type="submit">Зарегистрироваться и войти</button>
    </form>
</body>
</html>