{%extends "basic_dashboard.html"%}

{%block title%}
<title>Документи | Premium Calculator</title>
{%endblock%}

{%block aside%}
<aside class="dashboard__aside">
    <a href="/home" class="logo dashboard__logo">
        <img src="../static/images/icons/logotypeSecondary.svg" alt="Premium Calculator Logotype"/>
    </a>
    <a href="#" class="dashboard__profile">{{company_name}}</a>
    <nav class="dashboard__nav">
        <ul class="dashboard__list">
            <li class="dashboard__list-item">
                <a href="/home" class="dashboard__link">
                    <img class="dashboard__icon" src="../static/images/icons/homeIcon.svg" alt=""/>
                    <span class="dashboard__link-text">Головна</span>
                </a>
            </li>
            <li class="dashboard__list-item">
                <a href="/view_positions" class="dashboard__link">
                    <img src="../static/images/icons/positionsIcon.svg" alt="" class="dashboard__icon"/>
                    <span class="dashboard__link-text">Посади</span>
                </a>
            </li>
            <li class="dashboard__list-item">
                <a href="/view_employees" class="dashboard__link">
                    <img src="../static/images/icons/employeesIcon.svg" alt="" class="dashboard__icon"/>
                    <span class="dashboard__link-text">Працівники</span>
                </a>
            </li>
            <li class="dashboard__list-item">
                <a href="/documents" class="dashboard__link dashboard__link--active">
                    <img src="../static/images/icons/documentsIcon.svg" alt="" class="dashboard__icon"/>
                    <span class="dashboard__link-text">Документи</span>
                </a>
            </li>
            <li class="dashboard__list-item">
                <a href="/settings" class="dashboard__link">
                    <img src="../static/images/icons/settingsIcon.svg" alt="" class="dashboard__icon"/>
                    <span class="dashboard__link-text">Налаштування</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>
{%endblock%}

{%block content%}
<div class="documents dashboard__documents">
    <h1 class="documents__title">Завантаження звіту</h1>
    <p class="documents__description">
        Тут Ви можете завантажити звіт про Ваші посади, ефективність та їх премію за місяць
    </p>
    <form action="/add_report" method="POST" class="documents__form">
        <select name="position_id" id="original-select" class="documents__select-container">
            <option value="-1">Оберіть посаду</option>
            {%for position in positions%}
                <option value="{{position[0]}}">{{position[2]}}</option>
            {%endfor%}
        </select>
        <!-- This is the container for the custom select -->
<!--        <div class="custom-select-container documents__select-container">-->
<!--            <div class="custom-select-trigger documents__select-trigger">Оберіть формулу</div>-->
<!--            <div class="custom-select-options documents__select-options">-->
<!--                <div class="custom-select-option documents__select-option" data-value="1">Якась посада із БД</div>-->
<!--                <div class="custom-select-option documents__select-option" data-value="2">Ще одна посада</div>-->
<!--                <div class="custom-select-option documents__select-option" data-value="3">-->
<!--                    Дизайнери, потримайте моє пиво-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <button class="button documents__button button--primary" type="submit">Завантажити звіт</button>
    </form>
</div>
<!-- /.documents -->
{%endblock%}

{%block scripts%}
<script src="../static/js/preloader.js"></script>
<!--<script src="../static/js/custom-select.js"></script>-->
<script src="../static/js/dashboard/documents.js"></script>
{%endblock%}

