{%extends "basic.html"%}

{%block main%}
<style>
  table, th, td {
    border: 1px solid;
    text-align: center;
  }
</style>
<h3>Вывод всех должностей:</h3>
<table class="section_a_coefficients">
    <thead>
    <tr>
        <th class="function">Cистема поощерения</th>
        <th class="name">Название должности</th>
        <th class="salary">Зарплата / оклад</th>

    </tr>
    </thead>
    <tbody>
        {%for position in positions%}
        <tr>
            <td class="post_function">{{position[1]}}</td>
            <td class="post_name">{{position[2]}}</td>
            <td class="post_salary">{{position[3]}}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>
{%endblock%}